<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- 실무에서는 jquery 자동최신버전 쓰면 안됨.. 항상 물어보고 사용하기 -->
    <script  src="http://code.jquery.com/jquery-latest.min.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jua&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">   

    <script>
        $(document).ready(function(){
             $(".register").click(function(){
                $(".popup_bg").css({"display": "block"});
             })

             $(".register_btn").click(function(){
                $(".popup_bg").css({"display":"none"});
             })

             $(".hover").hover(function(){
                $(this).css({
                    "background":"rgba(0,0,0,0.7)",
                    "transition":"0.7s"
                })
             }, function(){
                $(this).css({
                    "background":"none",
                    "transition":"0.5s"
                })
             })
        });


    </script>
    <title>꿀단지 개발소</title>

</head>

<body>
    
    <div class="wrap">

        <div class="intro_bg">
            <div class="header" id="link_header">
                <div class="search_area">
                    <form>
                        <input type="search" placeholder="Search">
                        <span>검색</span>
                    </form>
                </div>

                <ul class="nav">
                    <li class="hover"><a href="#link_header">Home</a></li>
                    <li class="hover"><a href="#">로그인</a></li>
                    <li class="register">회원가입</li>
                    <li class="hover"><a href="#link_main_text0">About</a></li>
                </ul>
            </div>
            <div class="intro_text">
                <h1> 꿀단지 연구소</h1>
                <h4 class="contents1"> 테스트 및 개발하는 곳입니다</h4>
            </div>
        </div>

        <!-- intro end-->

        <ul class="amount">
            <li>
                <div>
                    <div class="contents1">김범석 회원님 </div>
                    <div class="contents2">반갑습니다</div>
                </div>
            </li>
            <li>
                <div>
                    <div class="contents1">내 포인트</div>
                    <div class="contents2">100000</div>
                </div>
            </li>
            <li>
                <div>
                    <div class="contents1">등급</div>
                    <div class="contents2">관리자</div>
                </div>
            </li>
            <li>
                <div>
                    <div class="contents1">내 프로필</div>
                    <div class="contents2">바로가기</div>
                </div>
            </li>
        </ul>

        <!-- amount end-->


        <div class="popup_bg">
            <div class="popup">
                <div class="register_btn">
                            닫기 
                </div>
            </div>    
        </div>
    
        <!-- popup_bg end(register)-->
        

        <div class="main_text0" id="link_main_text0">
            <h1>About</h1>
            <div class="contents1"> 꿀단지 주인장이 개발하고 테스트하고 잡동사니 같은 사이트 입니다</div>
            
            <ul class="icons">
                <li>
                    <div class="icon_img">
                         <!-- 아이콘 이미지크기 width:136.11 height:127.66 -->
                        <img src="../static/img/icon_board.jpg">
                    </div>
                    <div class="contents1_bold"> 방명록 </div>
                    <div class="contents3"> 안녕하세요 반가워요 인사하고가요 !!</div>
                    <div class="click"> 클릭하기 </div>
                </li>
                <li>
                    <div class="icon_img">
                         <!-- 아이콘 이미지크기 width:136.11 height:127.66 -->
                        <img src="../static/img/icon_todolist.jpg">
                    </div>
                    <div class="contents1_bold"> TodoList </div>
                    <div class="contents3"> 내 할일을 적어볼까요 </div>
                    <div class="click"> 클릭하기 </div>
                </li>
                <li>
                    <div class="icon_img">
                         <!-- 아이콘 이미지크기 width:136.11 height:127.66 -->
                        <img src="../static/img/icon_movie.jpg">
                    </div>
                    <div class="contents1_bold"> 영화리뷰 </div>
                    <div class="contents3"> 가장 재밌게 본 영화 알려주세요</div>
                    <div class="click"> 클릭하기 </div>
                </li>
            </ul>
        </div>
        <div class="main_text1">
            <h1> 꿀단지 개발소 소개 </h1>
            <div class="contents1"> 단지단지 꿀단지 </div>
            <div class="introduce">
                <div class="introduce_photo">
                    <!-- 이미지 640x426-->
                    <img src="../static/img/Logo4.jpg">
                </div>
                <div class="contents3">
                    <h2>꿀단지 개발소에 오신 것을 환영합니다. </h2>
                    <br>이곳 꿀단지 개발소에서는 여러 가지 개발 및 테스트를 진행하는 곳입니다.
                    <br>달콤한 꿀같이 생각나는 아이디어를 이곳에서 구현할 예정이오니 재밌게 즐기다 가시길 바랍니다.
                    <br>아직 이곳은 개발 진행중입니다. 
                    
                </div>
            </div>
        </div>

        <div class="main_text2">
            <ul>
                <li>
                    <div><h1>CONTACT</h1></div>
                    <div>우리에게 파트너십을 신청하거나, 고객이 되어주세요</div>
                    <div class="more2"> 더 알아보기 </div>
                </li>
                <li></li>
            </ul>
        </div>

        <footer>
            <div>
                <img src="../static/img/Logo5.jpg">
            </div>
            <div>
                CEO. 김 범 석<br>
                Addr. 꿀단특별광역시 꿀단구 벌꿀1로 벌꿀타워 14F 고객상담실<br> 
                Fax/Tel. 02 - 222 -2222 <br>
                COPYRIGHT 2023. Beom. ALL RIGHT RESERVED.
            </div>
        </footer>
    </div>
</body>

</html>